In [1]:
import pandas as pd
import numpy as np
import math
import statistics

In [3]:
#Create dictionary of data used to create a data frame
data = {'Alcohol Consumption':[0,0.5,1.5,4,7],'Malformation Present':[48,38,None,1,1],'Total':[17114,14502,793,None,38]}
data

{'Alcohol Consumption': [0, 0.5, 1.5, 4, 7],
 'Malformation Present': [48, 38, None, 1, 1],
 'Total': [17114, 14502, 793, None, 38]}

In [11]:
#Create data frame with the data
df = pd.DataFrame(data)
df

   Alcohol Consumption  Malformation Present    Total
0                  0.0                  48.0  17114.0
1                  0.5                  38.0  14502.0
2                  1.5                   NaN    793.0
3                  4.0                   1.0      NaN
4                  7.0                   1.0     38.0

In [15]:
#Total missing values count in the data frame
nulls = df.isnull().sum().sum()
print(nulls)

2

In [19]:
#Mean of Malformation Present column excluding missing value
column_mean = df['Malformation Present'].mean()
print(column_mean)

22.0